.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.bg-amarillo{
    color: #DAFF01;
    
}
.text-amarillo{
    color: #DAFF01;
}

.botao-lilas{
    background-color: #9353FF;
}



